.template {
  display: none;
}

.article-picture {
  display: none;
  text-align: center;
}

.article-picture img {
  display: none;
  max-width: 60%;
  border-radius: .25rem;
}

.article-caption {
  display: none;
  max-width: 60%;
  margin: 0 auto;
  color: #424242;
  font-style: italic;
}

.fromMsg, .toMsg {
  display: none;
  border: 1px solid #616161;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 2%;
  max-width: 50%;
}

.fromMsg p, .toMsg p {
  margin: 0;
}

.fromMsg {
  background-color: #98ddff;
  margin-left: 10%;
  margin-right: 40%;
}

.toMsg {
  background-color: #ddff98;
  margin-left: 40%;
  margin-right: 10%;
}

/* QUESTION: not sure if this is needed */
#menuIcon {
  display: none;
  color: #ffffff;
  font-size: 2rem;
}

#menuIcon:hover {
  color: #ff98dd;
}

/* QUESTION: not sure if this is needed */
.menuOption {
  display: inline-block;
 }

/*for smaller screens*/
@media screen and (max-width: 600px) {
  #menuIcon {
    display: block;
    text-align: right;
    font-size: 2rem;
    color: #ffffff;
  }
  .menuOption {
    display: none;
    text-align: left;
    font-size: 1.25rem;
  }
}

/*for larger screen*/
@media screen and (min-width: 600px) {
  #menuIcon {
    display: none;
  }
  .menuOption {
    display: inline-block;
    /*text-align: center;*/
    /*font-size: 1.25rem;*/
  }
}
