/*HEADER*/

nav {
  position: fixed;
  width: 100%;
  background-color: #212121;
  opacity: .8;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a {
  color: #f5f5f5;
  text-decoration: none;
}

nav a:hover {
  color: #ff98dd;
  transition: color .5s ease-in-out;
}

#headshot {
  margin-top: 5rem;
  height: 10rem;
  border-radius: 5rem;
  box-shadow: 0 0 2rem #212121;
}

/*BODY*/

#blogContainer article {
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  border-radius: 6px;
  margin-bottom: 2rem;
  box-shadow: 0 0 .25rem #bdbdbd;
}

#category-filter {
  display: inline-block;
  margin: 1rem auto;
  font-size: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: inherit;
}

#category-filter:hover {
  cursor: pointer;
  background-color: #ff98dd;
  transition: background-color .5s ease-in-out;
}

#filterContainer {
  text-align: center;
}

#category-filter, button {
  color: #212121;
  background-color: inherit;
  opacity: .8;
  padding: .5rem;
  text-align: center;
}

#category-filter:focus, button:focus {
  outline: 0;
}

.template {
  display: none;
}

.article-picture {
  text-align: center;
}

.article-picture img {
  max-width: 60%;
  border-radius: .25rem;
}

.article-caption {
  max-width: 60%;
  margin: 0 auto;
  color: #424242;
  font-style: italic;
}
