/*
typography
font-family: 'Cutive Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;

color pallet
light       #f5f5f5	(245,245,245)
med-light   #bdbdbd	(189,189,189)
med         #616161	(97,97,97)
med-dark    #424242	(66,66,66)
dark        #212121	(33,33,33)
pink        #ff98dd (255,152,221)
lime        #ddff98
blue        #98ddff
*/


body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  /*this is for the fade in effect*/
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

header {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

header h1, h2 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #212121;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a {
  color: #f5f5f5;
  text-decoration: none;
}

nav a:hover {
  color: #ff98dd;
  transition: color 1s ease-out;
}

#headshot {
  margin-top: 5rem;
  height: 10rem;
  border-radius: 5rem;
  box-shadow: 0 0 1rem #bdbdbd;
}

.template {
  display: none;
}

article {
  padding: 1%;
  max-width: 960px;
  margin: 0 auto;
}

.article-picture {
  text-align: center;
}

.article-picture img {
  max-width: 60%;
  border-radius: .25rem;
}

.article-caption {
  max-width: 60%;
  margin: 0 auto;
  color: #424242;
  font-style: italic;
}

button {
  font-size: .75rem;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #ffffff;
  padding: .3rem;
  text-align: center;
}

button:hover {
  color: #bdbdbd;
  background-color: #ff98dd;
  /* TODO: this not working */
  transition: background-color 1s ease-in-out;
}

button:focus {
  outline: 0;
}

.fromMsg, .toMsg {
  border: 1px solid #616161;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 2%;
  max-width: 50%;
}

.fromMsg p, .toMsg p {
  margin: 0;
}

.fromMsg {
  background-color: #98ddff;
  margin-left: 10%;
  margin-right: 40%;
}

.toMsg {
  background-color: #ddff98;
  margin-left: 40%;
  margin-right: 10%;
}

@media only screen and (min-width: 320px) {

}
