/*font-family: 'Cutive Mono', monospace;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/


body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

header {
  /*background-color: #FFF8D2;*/
  height: 10rem;
  padding-top: 1rem;
  text-align: center;
}

h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 3rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

nav {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 2rem;
}

nav li:hover {
  color: blue;
}

nav a {
  text-decoration: none;
}

.template {
  display: none;
}

article {
  padding: 1%;
}

.article-picture img {
  max-height: 200px;
  /*max-width: 300px;
  float: left;*/
}

.article-caption {
  font-family: font-family: 'Poppins', sans-serif;
  color: grey;
}

.article-body{
  /*border: 1px solid green;*/
  /*max-width: 300px;
  float: right;*/
  /*border-bottom: 1px solid grey;*/
}

.fromMsg, .toMsg {
  border-radius: 2%;
  padding: 1%;
  margin-bottom: 2%;
  color: #ffffff;
  max-width: 50%;
  font-family: 'Arial', sans-serif;
}

.fromMsg {
  background-color: #5296ce;
  margin-left: 10%;
  margin-right: 40%;
}

.toMsg {
  background-color: #56ab60;
  margin-left: 40%;
  margin-right: 10%;
}
