// paper plane by Chameleon Design from the Noun Project

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import url('https://fonts.googleapis.com/css?family=Martel|Open+Sans');

// initial variables
$christy-dark: #090605;
$christy-grey: #676566;
$christy-white: #b4b2b3;
$christy-light: #a4bfd9;
$christy-blue: #5b92cb;
$family-serif: "Martel", "Georgia", serif;
$family-sans-serif: "Open Sans", "Helvetica", sans-serif;

// derived variables
$primary: $christy-blue;
$light: $christy-light;
$dark: $christy-dark;
// $white: $christy-white;
$family-primary: $family-sans-serif;

@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/bulma/bulma.sass";

.is-full-screen {
  height: 100vh;
}

.is-max-height {
  height: 100%;
}

.is-max-width {
  width: 100%;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.input-underlined {
  @extend .title;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $christy-grey;

  &:focus {
    outline:none;
  }
}

#wave {
	margin-left: auto;
	margin-right: auto;
	.dot {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-right: 3px;
		background: $white;
		animation: wave 1.3s linear infinite;

		&:nth-child(2) {
			animation-delay: -2s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
		}
	}
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

// @keyframes slide {
//   100% { left: 0; }
// }