/*
blue        #8b9dc3	(139,157,195)
light-blue  #dfe3ee	(223,227,238)
light-grey  #f7f7f7	(247,247,247)
grey        #212121
*/

body {
  margin: 0 auto;  
  min-width: 320px;
  /* max-width: 940px; */
  font-family: 'Open Sans', sans-serif;
  /* color: #212121; */
  /* background-color: #f7f7f7; */
}

section {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
}

h4 {
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #8b9dc3;
  text-decoration: none;
}

footer {
  color: #8b9dc3;
  height: 10vh;
  text-align: center;
}

footer p {
  margin: 0 auto;
  font-size: .8rem;
}
