/*
typography
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;

color pallet
very-light  #fafafa
light       #f5f5f5	(245,245,245)
med-light   #bdbdbd	(189,189,189)
med         #616161	(97,97,97)
med-dark    #424242	(66,66,66)
dark        #212121	(33,33,33)
pink        #ff98dd (255,152,221)
lime        #ddff98
blue        #98ddff
*/

body {
  margin: 0 auto;  
  min-width: 320px;
  max-width: 940px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  color: #212121;
}

section {
  padding: 2rem;
}

section, footer {
  background-color: #ffffff;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
}

h4 {
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #616161;
}

a:hover {
  color: #ff98dd;
  transition: color .5s ease-in-out;
}

nav {
  display: none;
}

article {
    border-bottom: 1px solid #616161;
}

footer {
  height: 10vh;
  text-align: center;
}

footer p {
  margin: 0 auto;
  font-size: .8rem;
}