
#home {
    text-align: center;
    min-height: 80vh;
    padding-top: 15%;
}

#headshot {
    margin: 1rem auto;
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    box-shadow: 0 0 2rem #212121;
    background: url("../images/main/christy-headshot.jpeg");
    background-position: center;
    background-size: contain;
  }
