<a href="{{ url }}" target="_blank" rel="noopener noreferrer">
  <div class="tool-tip">
    <span class="icon">
      <i class="{{ icon }}"></i>
    </span>
    <span class="tool-tip-text">
      {{ label }}
    </span>
  </div>
</a>